<?xml version="1.0"?>
<appSettings>
  
  <add key="CouchbaseUrl" value="http://192.168.57.55:8091/pools"/>
  <add key="BucketName" value="DeliveryTracer"/>
  <add key="GitPath" value="C:\Program Files (x86)\Git\bin\git.exe"/>
  <add key="GitUri" value="http://gitlab.hepsiburada.com/mobile/mobileapiservice.git"/>
  <!--<add key="GitConventionRegex" value="MOB-(.*?)\n" />-->
  <add key="RepositoryDirPattern" value="C:\DeliveryTracer\{0}"/>
  
</appSettings>